<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>MSTest Method - TestInitialize</Title>
		<Author>KBeckman</Author>
		<Description>This snippet contains a skeleton method decorated with the MSTest TestInitializeAttribute.</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="csharp">
			<![CDATA[	
		/// <summary>
		/// This method executes individual TestMethod-level setup and initialization prior to each test being run.
		/// </summary>
		[TestInitialize]
		public void TestInitialize()
		{
			//TODO: Add any TestMethod initialization logic here...
		}
			]]>
		</Code>
	</Snippet>
</CodeSnippet>
