<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>NUnit Method - SetUpTest</Title>
		<Author>KBeckman</Author>
		<Description>Contains a skeleton method decorated with the NUnit SetUpAttribute.</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="csharp">
			<![CDATA[	
		/// <summary>
		/// Executes individual Test-level setup and initialization prior to each test being run.
		/// </summary>
		[SetUp]
		public void SetUpTest()
		{
			//TODO: Add any individual test initialization logic here...
		}
			]]>
		</Code>
	</Snippet>
</CodeSnippet>
