<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<Header>
		<Title>NUnit Method - SetUpFixture</Title>
		<Author>KBeckman</Author>
		<Description>Contains a skeleton method decorated with the NUnit TestFixtureSetUpAttribute.</Description>
		<SnippetTypes>
			<SnippetType>Expansion</SnippetType>
		</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="csharp">
			<![CDATA[	
		/// <summary>
		/// Executes TestFixture-level setup and initialization prior to any Tests being run.
		/// </summary>
		[TestFixtureSetUp]
		public void SetUpFixture()
		{
			//TODO: Add any TestFixture initialization logic here...
		}
			]]>
		</Code>
	</Snippet>
</CodeSnippet>
